{% extends 'MopaBootstrapBundle::base_less.html.twig' %}

{% block content_row %}
    <div class="search-form">
        {{ form_start(form) }}
        {{ form_row(form.submit) }}
        {{ form_row(form.search) }}
        {{ form_end(form) }}
    </div>

    <a href="{{ path('product_create') }}">Add a product</a>
    <br><br>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.size }}</td>
                <td>{{ product.quantity|number_format }}</td>
                <td>{{ product.location }}</td>
                <td>
                    <a href="{{  path('product_view', {'id': product.id}) }}">view</a>
                    &nbsp;
                    <a href="{{  path('product_update', {'id': product.id}) }}">update</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        &nbsp;
                        <a class="delete-link" href="{{ path('product_delete', {'id': product.id}) }}">delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content_row %}
