{% extends 'MopaBootstrapBundle::base_less.html.twig' %}

{% block content_row %}
    <legend>View Product</legend>
    <div class="edit-button">
        <a href="{{  path('product_update', {'id': product.id}) }}">Edit Product</a>
    </div>
    <br>
    <div>
        <table id="product-view-table" class="table table-bordered table-striped">
            <tr><td><strong>Id:</strong></td><td>{{ product.id }}</td></tr>
            <tr><td><strong>Name:</strong></td><td>{{ product.name }}</td></tr>
            <tr><td><strong>Color:</strong></td><td>{{ product.color }}</td></tr>
            <tr><td><strong>Brand:</strong></td><td>{{ product.brand }}</td></tr>
            <tr><td><strong>Category:</strong></td><td>{{ product.category }}</td></tr>
            <tr><td><strong>Size:</strong></td><td>{{ product.size }}</td></tr>
            <tr><td><strong>Quantity:</strong></td><td>{{ product.quantity|number_format }}</td></tr>
            <tr><td><strong>Location:</strong></td><td>{{ product.location }}</td></tr>
        </table>
    </div>
{% endblock content_row %}