<a href="{{ path('fos_user_profile_show', {'id': form.vars.value.id}) }}">Show user</a>
<br><br>
<form action="{{ path('fos_user_profile_edit', {'id': form.vars.value.id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {% if form.vars.value.id == app.user.id %}
        {% set label = 'Eidt Your Profile' %}
    {% else %}
        {% set label = 'Eidt '~ form.vars.value.username ~' Profile' %}
    {% endif %}
    {{ form_widget(form, {label: label}) }}
    <div>
        <input type="submit" class="btn btn-success" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
