<legend>View user</legend>
<div class="edit-button">
    <a href="{{  path('fos_user_profile_edit', {'id': user.id}) }}">Edit user</a>
</div>
<br>
<div>
    <table id="user-view-table" class="table table-bordered table-striped">
        <tr><td><strong>Id:</strong></td><td>{{ user.id }}</td></tr>
        <tr><td><strong>Username:</strong></td><td>{{ user.username }}</td></tr>
        <tr><td><strong>Email:</strong></td><td>{{ user.email }}</td></tr>
        <tr><td><strong>First Name:</strong></td><td>{{ user.firstName }}</td></tr>
        <tr><td><strong>Last Name:</strong></td><td>{{ user.lastName }}</td></tr>
    </table>
</div>