@import "../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/mopabootstrapbundle.less";

.form-horizontal {
  .form-group {
    margin: 0 0 10px 0;
    max-width: 250px;
  }

  .button-row {
    margin-top: 20px;
  }
}

.form-group {
  max-width: 250px;
}

#product-view-table {
  max-width: 50%;
}

#login-form-container {
  width: 300px;
  margin: auto;
}

.page-header {
  padding: 0;

  .top-links {
    padding-bottom: 10px;
  }

  h1 {
    width: 491px;
    margin: auto;
  }
}

legend {
  border-bottom: none;
}

.search-button {
  max-width: 75px;
  padding-top: 27px;
}

.search-attribute {
  max-width: 215px;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(#add8e6, #ffffff) fixed;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #ffffff;
}

.banner { margin: 0 auto; }
.edit-button { margin-bottom: 10px; }

.search-form {
  .search-input { width: 175px; }

  .col-sm-2.pull-right {
    padding-left: 0;
    padding-right: 0;

    #search_form_search { height: 35px; }
  }
}

#search_form_search { height: 35px; }