{% extends 'MopaBootstrapBundle::base_less.html.twig' %}

{% block content_row %}
    <div>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('fos_user_registration_register') }}">Add a user</a>&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
        <a href="{{ path('fos_user_profile_edit', {'id': app.user.id}) }}">Edit your profile</a>
    </div>
    <br>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
            {% endif %}
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{  path('fos_user_profile_show', {'id': user.id}) }}">view</a>
                        &nbsp;&nbsp;
                        <a href="{{  path('fos_user_profile_edit', {'id': user.id}) }}">update</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock content_row %}
