<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form, {label: 'Create User'}) }}
    <div>
        <input type="submit" class="btn btn-success" value="Create user" />
    </div>
</form>
