{% extends 'MopaBootstrapBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block head_style %}
    {# Override this block to add your own files! #}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        '@TeamCurtisBundle/Resources/less/main.less'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {# To use this without less use the base_css.html.twig template as your base
     # Be sure you understand whats going on: have a look into
     # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
     #}
{% endblock head_style %}

{% block head_script %}
    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
        '@TeamCurtisBundle/Resources/js/main.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %}

{% block flashes %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        <div class="row">
            <div class="col-sm-12">
                {# Passing "true" to session_flash ensures that the flas message has
                   a close button. "alert.js" must be sent along with the reponse
                   in order for the close button to work. #}
                {{ session_flash(true) }}
            </div>
        </div>
    {% endif %}
{% endblock flashes %}

{#{% block foot_script %}#}
{#{% endblock foot_script %}#}

{% block page_header %}
    {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}
        {% set loginPage = true %}
    {% else %}
        {% set loginPage = false %}
    {% endif %}
    <div class="page-header{% if loginPage %} login{% endif %}">
        {% block headline %}
            {#Sweet Spot Inventory System#}
            {% image '@TeamCurtisBundle/Resources/public/images/sweet_spot_banner.png' %}
                <img class="img-responsive banner" src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        {% endblock headline %}
        <br><br>
        {% if not loginPage %}
            <div class="row">
                <div class="col-sm-6">
                    <a href="{{ path('team_curtis_homepage') }}">Home</a>&nbsp;&nbsp;
                    <a href="{{ path('user_list') }}">Users</a>
                </div>
                <div class="col-sm-6">
                    <span class="top-links pull-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock page_header %}

{% block footer %}
{% endblock footer %}

{% block foot_script %}
    {% block foot_script_assetic %}
        {% javascripts
            '@MopaBootstrapBundle/Resources/public/bootstrap/js/alert.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock foot_script_assetic %}
{% endblock foot_script %}
