{% extends 'MopaBootstrapBundle::base_less.html.twig' %}

{% block content_row %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if app.request.attributes.get('_route') == 'fos_user_registration_register' %}
        {% set formType = 'registration' %}
    {% elseif app.request.attributes.get('_route') == 'fos_user_security_login' %}
        {% set formType = 'login' %}
    {% else %}
        {% set formType = 'default' %}
    {% endif %}

    <div id="{{ formType }}-form-container">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock content_row %}